body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
  }
  
  .ui.center.aligned.container {
    margin-top: 4em;
  }
  
  p.lead {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    color: #333333;
    line-height: 1.4;
    font-weight: 300;
  }
  
  .ui.huge.header {
    font-size: 36px;
  }
  
  .ui.inverted.menu {
    border-radius: 0;
    flex-wrap: wrap;
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  
  .ui.mobile.only.grid .ui.menu .ui.vertical.menu {
    display: none;
  }
  
  .ui.inverted.menu .item {
    color: rgb(157, 157, 157);
    font-size: 16px;
  }
  
  .ui.inverted.menu .active.item {
    background-color: #080808;
  }

.bottombar {
  position: fixed;
   bottom: 0;
   width: inherit;
}

@media only screen
and (max-width : 600px){
  .bottombar {
    width: 100%
  }
}